.categories {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 10px;
}

.categoryContainer {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 1px solid black;
  padding: 3px;
  margin: 3px;

  img {
    width: 100%;
  }
}
