---
import {app} from "../firebase/server"
import {getFirestore} from "firebase-admin/firestore"

const db = getFirestore(app);
const blogRef=db.collection("blog");
const categoryList = []



---

<button class="menu">menu</button>
<div class="visible">
   test
</div>